<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon shortcut" href="{{ site.url | append: '/assets/images/favicon.ico' }}" sizes="32x32">
    <link rel="icon" href="{{ site.url | append: '/assets/images/favicon.svg' }}" type="image/svg+xml">
    <link rel="icon" href="{{ site.url | append: '/assets/images/favicon-16x16.png' }}" type="image/png" sizes="16x16">
    <link rel="icon" href="{{ site.url | append: '/assets/images/favicon-32x32.png' }}" type="image/png" sizes="32x32">
    <link rel="apple-touch-icon" href="{{ site.url | append: '/assets/images/apple-touch-icon.png' }}" sizes="180x180">
    <link fetchpriority="low" href="{{ site.url | append: '/assets/images/site.webmanifest' }}" rel="manifest">
    <link rel="stylesheet" href="{{ site.url | append: '/assets/css/style.css?v=' | append: site.github.build_revision }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ site.url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
